.search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* min-height: 5rem; */
}
.search > * {
  color: white;
  border-radius: 1rem;
  border: 0;
}
.search__input {
  padding: 1rem;
  margin: 1rem 0px;
  background: url("assets/images/icon-search.svg") no-repeat scroll 1rem 1rem;
  background-color: var(--n-600);
  padding-left: 3rem;
}

.search__btn {
  background-color: var(--c-blue-500);
  padding: 1rem;
}

.search__btn:hover {
  cursor: pointer;
}

/**
  Figure out how to change the width of the searchbar given that we are using display:flex
*/
@media screen and (min-width: 900px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
