.dropdownmenu {
  background-color: #25253d;
  padding-top: 15px;
  border-radius: 10%;
  width: calc(100% - 160px);
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

.dropdownmenu__temp-heading,
.dropdownmenu__windspeed-heading,
.dropdownmenu__precip-heading {
  color: #cbd0da;
  font-size: 14px;
  font-weight: 400;
}
.dropdownmenu__windspeed-heading {
  background-color: none;
  border: none;
}
.dropdownmenu__temp-group,
.dropdownmenu__windspeed-group,
.dropdownmenu__precip-group {
  display: flex;
  flex-direction: column;
  border: none;
}
input[type="radio"] {
  padding-left: 100px;
  padding-bottom: 10px;
  visibility: hidden;
}
.dropdownmenu__precip-label,
.dropdownmenu__windspeed-label {
  margin-bottom: 10px;
}
