@import url("../../vendor/fonts.css");
h3 {
  font-family: Bricolage Grotesque Bold;
}
.header {
  margin: 0px;
  padding: 0px;
}
.header__nav-logo-img {
  width: 150px;
  padding-top: 10px;
  padding-left: 10px;
}
.header__main-txt {
  font-size: 50px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.header__units-btn {
  background-color: #1e2740;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  flex-shrink: 0;
  flex-grow: 0;
}
.header__units-arrowdown {
  align-self: center;
  margin-bottom: 2px;
}
.header__nav {
  padding: 10px;
  color: white;
  position: relative;
}
.container {
  display: flex;
  justify-content: space-around;
}
