.search-results {
  padding: 1rem;
  list-style: none;
  border-radius: 0.5rem;
  background-color: var(--n-800);
  margin: 0px 1rem;
}
.search-result {
  background-color: var(--n-800);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: var(--n-600);
  }
  &:focus-within {
    background-color: var(--n-600);
  }
}

.search-btn {
  background-color: transparent;
  color: white;
  border: 0;
}
